.multi-selecting {
  margin: 100px;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}
.multi-selecting .e-delim-values {
  height: 1.5rem;
}
.multi-selecting ul {
  list-style-type: none;
}
